.loading-spinner {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #007bff;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  animation: spin 1s linear infinite;
  margin: 1.25rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
