.search-bar {
  margin: 1.25rem 0;
}

.search-input {
  padding: 0.625rem;
  border: 0.0625rem solid #d1d1d1;
  border-radius: 0.3125rem 0 0 0.3125rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #bdbdbd;
}

.search-btn {
  background-color: #f0f0f0;
  border: 0.0625rem solid #d1d1d1;
  padding: 0.625rem 1.25rem;
  border-radius: 0 0.3125rem 0.3125rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-btn:hover {
  background-color: #e0e0e0;
  border-color: #bdbdbd;
}
